name: invite
on:
  schedule:
    - cron:  "19 45 * * *"
  repository_dispatch:
    types: [invite]
  workflow_dispatch:
  pull_request:

jobs:
  invite:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: Invite
        env:
          INVITER_GITHUB_ACCESS_TOKEN: ${{ secrets.INVITER_GITHUB_ACCESS_TOKEN }}
        run: |
          go run cmd/inviter
